#page{width:calc(100vw - 40px); max-width:1000px; padding:10px; margin:auto}
nav{padding:0px}
nav a{color:#333; margin:2px 4px; padding:1px 4px; font-size:small; border-color:#d9d9d9; border-style:solid; border-width:0 0 6px; text-decoration:none; background-color:white}
nav a:hover{color:#111; border-color:#797979}
nav a.active{color:#111; border-color:#797979}
nav a.home:hover{border-color:#c40000}
nav a.cats:hover{border-color:#bdb42c}
nav a.contact:hover{border-color:#4cbd2c}
nav a.admin:hover{border-color:#0d83ec}
.wrapper{padding:16px; background-color:#ffffffc7; border-width:1px; border-color:grey; border-style:solid; color:#222}
.wrapper a{text-decoration:none; color:#222}
.banner{padding:8px 16px; width:auto; height:140px; background-position:contain; background-image:linear-gradient(#797979,#4a4a4a)}
.content{font-family:Lucida Console; font-size:big; padding:16px; color:#444; border-color:#9f9f9f; border-style:solid; border-width:1px}
.tracks{padding:16px}
.track{padding:16px; color:#444; background-color:#9f9f9f2e}
.excerpt{font-family:Lucida Console; font-size:big; padding:10px 0px; color:red}
.blog-title{font-size:big; margin:16px 16px}
.blog-subtitle{font-size:big; padding:16px 16px; background-color:#faebd79c}
.slogan{margin:0px; color:black}
.title{font-size:big}
.title-small{margin:0px}
.menu{padding:0px; margin:6px 0}
.menu a{color:#333; margin:2px 4px; padding:1px 4px; font-size:small; border-color:#d9d9d9; border-style:solid; border-width:0 0 2px; text-decoration:none; background-color:white}
.menu a:hover{color:#111; border-color:#797979}
.menu a.active{color:#111; border-color:#797979}
.pane{font-size:big; padding:6px 16px; margin:0px; background-color:#faebd747}
.author{font-weight:bold}
.date{color:gray}
.category{border:1px solid silver}