body{background-color:#444; font-family:arial; color:#ddd}
a{cursor:pointer}
h1,h2,h3,h4,h5{}
input,textarea,select{font-size:small; padding:1px 2px; background-color:#ddd; border:1px solid #bbb}
input:hover,input:focus,textarea:hover,textarea:focus,select:hover,select:focus{border:1px solid #777}
input:focus-visible,textarea:focus-visible,select:focus-visible{outline:none}
form{padding:0px; margin:0px}
button{background-color:#ffffffaa; border:1px solid black}
section{padding:16px; background-color:#ffffff; border:1px solid #777}
article{border: 1px solid #ffffffe5; padding:16px; margin:0 0 20px 0; background:#ffffff75}
#page{width:calc(100vw - 120px); margin:auto; padding:16px}
#content{padding:16px; background-color:#ffffffc7; border-width:1px; border-color:grey; border-style:solid; color:#222}
#content a{text-decoration:none; color:#222}
#nav{}
#nav a{background-color:#ffffffaa; padding:8px 16px; border:1px solid gray}
#nav a:hover{background-color:#ffffff; border:1px solid black}
#nav a.active{background-color:#ffffff; border:1px solid black}
.banner{padding:8px 16px; width:auto; height:140px; background-position:contain}
.content{font-family:Lucida Console; font-size:big; padding:16px; color:#444; border-color:#9f9f9f; border-style:solid; border-width:1px}
.tracks{padding:16px}
.track{padding:16px; color:#444; background-color:#9f9f9f2e}
.excerpt{font-family:Lucida Console; font-size:big; padding:0px; color:red}
.blog-title{font-size:big; margin:16px 16px}
.blog-subtitle{font-size:big; padding:16px 16px; background-color:#faebd79c}
.slogan{margin:0px; color:black}
.title{font-size:big}
.title-small{margin:0px}
.menu{padding:0px}
.menu a{color:#333; margin:1px 4px; padding:1px 4px; font-size:small; border-color:#bbb; border-style:solid; border-width:0 0 4px; text-decoration:none; background-color:white; box-shadow:2px 2px 0px #aaa}
.menu a:hover{color:#111; border-color:#777}
.frame{font-size:big; padding:8px 16px; margin:0px; background-color:#faebd747; border-color:#faebd766; border-style:solid; border-width:0px}
.frame-white{font-size:big; padding:8px 16px; margin:4px; background-color:#c8c8c84d; border-color:#6c6c6ca1; border-style:solid; border-width:1px}
.frame-blue{font-size:big; padding:8px 16px; margin:4px; background-color:#0064ff4a; border-color:#0064ff; border-style:solid; border-width:1px}
.frame-red{font-size:big; padding:8px 16px; margin:4px; background-color:#dc143c4a; border-color:#dc143c; border-style:solid; border-width:1px}
.frame-green{font-size:big; padding:8px 16px; margin:4px; background-color:#9acd3273; border-color:#9acd32; border-style:solid; border-width:1px}
.btn{font-size:small; padding:2px 4px; background-color:white; border-width:1px; border-color:grey; border-style:solid; color:#444}
.btn:hover{background-color:white; border-color:black}
.btsav{font-size:small; padding:1px 4px; background-color:#0064ff4a; border-color:#0064ff; border-style:solid; border-width:1px; color:#222}
.btsav:hover{background-color:#0064ff; border-color:#0064ff; color:#fff !important}
.btdel{font-size:small; padding:1px 4px; background-color:#dc143c4a; border-color:#dc143c; border-style:solid; border-width:1px; color:#222}
.btdel:hover{background-color:#dc143c; border-color:#dc143c; color:#fff !important}
.editarea{font-family:Lucida Console; word-wrap:break-word; padding:16px; background-color:#ddd; min-height:20px; border:1px dotted #77777777}
.console{font-family:Lucida Console; word-wrap:break-word; padding:16px; background-color:#222; color:#fff}
.small{font-size:small}
.infos{font-size:small}
.infos span{margin:2px; padding:2px}
.author{font-weight:bold}
.date{color:gray}
.category{border:1px solid silver}